@{
    Layout = "~/Views/Shared/_LayoutERP.cshtml";
}

<div class="container my-5">
    <h2>卡片管理</h2>
    <h3>選擇卡片來編輯</h3>
    <div class="row row-cols-1 row-cols-md-3 g-4 my-4 hot-product-card">
        <div class="col">
            <a href="" class="text-decoration-none">
                <div class="card h-100 shadow-sm">
                    <img src="~/images/Carousel1.jpg" class="card-img-top img-fluid" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to additional
                            content. This content is a little bit longer.
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="" class="text-decoration-none">
                <div class="card h-100 shadow-sm">
                    <img src="~/images/Carousel2.jpg" class="card-img-top img-fluid" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="" class="text-decoration-none">
                <div class="card h-100 shadow-sm">
                    <img src="~/images/Carousel3.jpg" class="card-img-top img-fluid" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to additional
                            content. This card has even longer content than the first to show that equal height action.
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
