@model prjVegetable.Models.CProductWrap

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutERP.cshtml";
}

<h1>商品詳細資料</h1>
<br />
<hr />
<div id="app">
    <div class="container">
        <div v-if="product" :key="product.fId">
            <form v-if="edit">
                <div class="mb-3 row">
                    <div class="col-6">
                        <div class="row">
                            <label for="fName" class="col-md-3 col-form-label">商品名稱：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fName" :placeholder="product.fName" v-model="product.fName">
                            </div> 
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <label for="fClassification" class="col-md-3 col-form-label">商品分類：</label>
                            <div class="col-md-9">
                                <select class="form-control" id="fClassification" v-model="product.fClassification">
                                    <option value="根莖">根莖</option>
                                    <option value="葉菜">葉菜</option>
                                    <option value="水果">水果</option>
                                    <option value="蕈菇">蕈菇</option>
                                    <option value="蔬菜">蔬菜</option>
                                    <option value="其他">其他</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-6">
                        <div class="row">
                            <label for="fPrice" class="col-md-3 col-form-label">商品價格：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fPrice" :placeholder="product.fPrice" v-model="product.fPrice">
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <label for="fDescription" class="col-md-3 col-form-label">商品描述：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fDescription" :placeholder="product.fDescription" v-model="product.fDescription">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-6">
                        <div class="row">
                            <label for="fQuantity" class="col-md-3 col-form-label">庫存數量：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fQuantity" :placeholder="product.fQuantity" v-model="product.fQuantity">
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <label for="fLaunchAt" class="col-md-3 col-form-label">上架日期：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="datepicker" :placeholder="product.fLaunchAt" v-model="product.fLaunchAt">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-6">
                        <div class="row">
                            <label for="fStorage" class="col-md-3 col-form-label">藏溫方式：</label>
                            <div class="col-md-9">
                                <select class="form-control" id="fStorage" v-model="product.fStorage">
                                    <option value="0">冷凍</option>
                                    <option value="1">冷藏</option>
                                    <option value="2">常溫</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <label for="fOrigin" class="col-md-3 col-form-label">產地：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fOrigin" :placeholder="product.fOrigin" v-model="product.fOrigin">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-6">
                        <div class="row">
                            <label for="fLaunch" class="col-md-3 col-form-label">上架狀態：</label>
                            <div class="col-md-9">
                                <select class="form-control" id="fLaunch" v-model="product.fLaunch">
                                    <option value="0">下架</option>
                                    <option value="1">上架</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="row">
                        <label for="fImgName" class="col-md-2 col-form-label">商品照片：</label>
                        <div v-if="product.Images && product.Images.length > 0" >
                            <div v-for="(image, index) in product.Images" :key="index" class="col-md-3">
                                <button><i class="bi bi-x-circle-fill"></i></button>
                                <img :src="'https://localhost:7251/images/' + image"
                                     alt="'商品圖片 ' + (index + 1)"
                                     id="editimg"
                                     class="img-fluid"
                                     style="max-width: 25%; margin-bottom: 10px;" />
                                <input type="file"
                                       :id="update"
                                       @@change="editFileChanged($event.target, index)" />
                            </div>
                        </div>
                        <label for="insert" style="cursor: pointer; color: blue;">新增圖片</label>
                        <input type="file" id="insert" style="display: none;" onchange="insertFileChange()" />
                        @* <input type="file" id="insert" @@change="insertFileChange" /> *@
                    </div>
                </div>

            </form>
            @*顯示樣本*@
            <form v-else>
                <div class="mb-3 row">
                    <div class="col-6">
                        <div class="row">
                            <label for="fName" class="col-md-3 col-form-label">商品名稱：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fName" :value="product.fName" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <label for="fClassification" class="col-md-3 col-form-label">商品分類：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fClassification" :value="product.fClassification" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-6">
                        <div class="row">
                            <label for="fPrice" class="col-md-3 col-form-label">商品價格：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fPrice" :value="product.fPrice" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <label for="fDescription" class="col-md-3 col-form-label">商品描述：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fDescription" :value="product.fDescription" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-6">
                        <div class="row">
                            <label for="fQuantity" class="col-md-3 col-form-label">庫存數量：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fQuantity" :value="product.fQuantity" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <label for="fLaunchAt" class="col-md-3 col-form-label">上架日期：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="datepicker" :value="product.fLaunchAt" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-6">
                        <div class="row">
                            <label for="fStorage" class="col-md-3 col-form-label">藏溫方式：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fStorage" :value="getLabel('fStorage', product.fStorage)" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <label for="fOrigin" class="col-md-3 col-form-label">產地：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fOrigin" :value="product.fOrigin" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-6">
                        <div class="row">
                            <label for="fLaunch" class="col-md-3 col-form-label">上架狀態：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fLaunch" :value="getLabel('fLaunch', product.fLaunch)" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <label for="fEditor" class="col-md-3 col-form-label">修改人：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fEditor" :value="product.fEditor" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-6">
                        <div class="row">
                            <label for="fImgName" class="col-md-3 col-form-label">商品照片：</label>
                            <div class="col-md-9">
                                <div v-if="product.Images && product.Images.length > 0">
                                    <span v-for="(image, index) in product.Images" :key="index">
                                        <img :src="'https://localhost:7251/images/' + image"
                                             alt="'商品圖片 ' + (index + 1)"
                                             class="img-fluid d-inline-flex"
                                             style="max-width: 25%; margin-bottom: 10px; " />
                                    </span>
                                </div>
                                <div v-else>loading</div>

                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!-- 返回與編輯按鈕 -->
            <div>
                <a href="#" @@click="goToIndex" class="btn btn-outline-primary">回商品列表</a>
                <button v-if="product.fId" @@click="toggleEditting" class="btn btn-primary">編輯資料/取消</button>
                <button v-if="edit" @@click="saveImg" id="update" class="btn btn-success">儲存圖片</button>
                <button v-if="edit" @@click="saveProduct" id="update" class="btn btn-success">儲存修改</button>
            </div>
        </div>

        <div v-else>
            <p>載入中...</p>
        </div>
    </div>
</div></div>

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    baseAddress:"https://localhost:7251",
                    product: {
                        Images:[],
                        fStorage:0,
                        fLaunch:1
                    },
                    img:[],// 用來存放從後端獲得的人員資料
                    edit:false, //啟用編輯
                };
            },
            mounted() {
                this.loadProductId();  // 确保调用正确的 method
            },
            methods: {
                loadProductId() {
                        // 获取当前 URL 的路径部分
                        const path = window.location.pathname;

                        // 假设 URL 路径的格式是 /Person/Details/{id}
                        const pathSegments = path.split('/'); // 将路径分割为数组

                        // 获取路径的最后一部分作为 ID
                        const productId = pathSegments[pathSegments.length - 1];
                    if (productId) {
                        axios.get(`/Products/GetProductById/${productId}`)
                            .then(response => {
                                console.log(response.data);  // 查看返回的產品資料
                                this.product = response.data; // 把返回的資料賦值給 product
                                this.product.Images = response.data.images || [];
                            })
                            .catch(error => {
                                console.error('資料加載錯誤', error);
                                this.product = {};  // 如果出錯，清空資料
                                this.product.Images = [];
                            });
                    } else {
                        console.error('未提供有效的 ID');
                    }
                },
                goToIndex() {
                    window.location.href = "/Products/index";  // 返回到员工与会员列表页面，或者修改为你的页面路径
                },

                toggleEditting() {
                this.edit = !this.edit;  // 切換 edit 值
                },

                getLabel(field, value) {
                    if (field === 'fStorage') {
                        switch(value) {
                            case 0: return '冷凍';
                            case 1: return '冷藏';
                            case 2: return '常溫';
                            default: return '';
                        }
                    } else if (field === 'fLaunch') {
                        return value === 0 ? '下架' : '上架';
                    }
                    return '';
                },

                //處理預覽上傳圖片
                readURL:function(inputFile,img,btn){
                    if(inputFile.files[0]){ //使用者有上傳檔案
                        var allowType="image.*";
                        var file = inputFile.files[0];
                        if(file.type.match(allowType)){
                            //預覽使用者選擇的圖片
                            var reader=new FileReader();
                            reader.onload=function(e){
                                img.src=e.target.result;
                                img.title = file.name;
                            };
                            reader.readAsDataURL(file);
                            //user選文字檔案:readAsText  user選網址:readAsDataURL 陣列:readAsArrayBuffer
                            btn.prop("disabled",false);
                        }
                        else{
                            alert("不允許的檔案上傳類型！");
                            inputFile.value="";
                            btn.prop("disabled",true);
                        }
                    }
                },



                //選擇文件更新照片
                editFileChanged:function(inputFile){
                    //alert("editFileChanged");
                    let _this=this;
                     _this.readURL(inputFile, document.querySelector("#editimg"), $("#update"));
                
                },

                insertFileChange:function(inputFile){
                    alert("insertFileChange");
                    let _this = this;
                    _this.readURL(inputFile,inputFile.previousSibling,$("#insert"));

                },

               
                update:function(item){


                },


             
                saveProduct() {
                    alert("saveProduct");
                    if (this.product.fId) {
                        console.log(this.product);  // 打印数据，确认数据是否正确
                        const productData =JSON.parse(JSON.stringify(this.product))
                        axios.post(`/Products/update`, productData)
                            .then(response => {
                                // 儲存成功後處理的邏輯，例如顯示成功訊息或重新載入資料
                                alert("資料已儲存!");
                                this.toggleEditting();  // 儲存後退出編輯模式
                            })
                            .catch(error => {
                                console.error('儲存失敗', error);
                                alert("儲存資料時發生錯誤");
                            });
                    } else {
                        alert("無效的使用者ID，無法儲存資料");
                    }
                }
            }
            
        });

        app.mount('#app'); // 使用 Vue 3 创造并挂载应用
    </script>
}