@model prjVegetable.Models.CProductWrap

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutERP.cshtml";
}

<h1>商品詳細資料</h1>
<br />
<hr />
<div id="app">
    <div class="container">
        <div v-if="product" :key="product.fId">
            <form v-if="edit">
                <div class="mb-3 row">
                    <div class="col-6">
                        <div class="row">
                            <label for="fName" class="col-md-3 col-form-label">商品名稱：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fName" :placeholder="product.fName" v-model="product.fName">
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <label for="fClassification" class="col-md-3 col-form-label">商品分類：</label>
                            <div class="col-md-9">
                                <select class="form-control" id="fClassification" v-model="product.fClassification">
                                    <option value="根莖">根莖</option>
                                    <option value="葉菜">葉菜</option>
                                    <option value="水果">水果</option>
                                    <option value="蕈菇">蕈菇</option>
                                    <option value="蔬菜">蔬菜</option>
                                    <option value="其他">其他</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-6">
                        <div class="row">
                            <label for="fPrice" class="col-md-3 col-form-label">商品價格：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fPrice" :placeholder="product.fPrice" v-model="product.fPrice">
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <label for="fDescription" class="col-md-3 col-form-label">商品描述：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fDescription" :placeholder="product.fDescription" v-model="product.fDescription">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-6">
                        <div class="row">
                            <label for="fQuantity" class="col-md-3 col-form-label">庫存數量：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fQuantity" :placeholder="product.fQuantity" v-model="product.fQuantity">
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <label for="fLaunchAt" class="col-md-3 col-form-label">上架日期：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="datepicker" :placeholder="product.fLaunchAt" v-model="product.fLaunchAt">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-6">
                        <div class="row">
                            <label for="fStorage" class="col-md-3 col-form-label">藏溫方式：</label>
                            <div class="col-md-9">
                                <select class="form-control" id="fStorage" v-model="product.fStorage">
                                    <option value="0">冷凍</option>
                                    <option value="1">冷藏</option>
                                    <option value="2">常溫</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <label for="fOrigin" class="col-md-3 col-form-label">產地：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fOrigin" :placeholder="product.fOrigin" v-model="product.fOrigin">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-6">
                        <div class="row">
                            <label for="fLaunch" class="col-md-3 col-form-label">上架狀態：</label>
                            <div class="col-md-9">
                                <select class="form-control" id="fLaunch" v-model="product.fLaunch">
                                    <option value="0">下架</option>
                                    <option value="1">上架</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="row">
                        <label for="fImgName" class="col-md-2 col-form-label">商品照片：</label>
                        <div v-if="product.Images && product.Images.length > 0">
                            <div>
                                <img v-if="!preview1" :src="`https://localhost:7251/images/${product.Images[0]}`" alt="圖片01" class="img-fluid"
                                     style="max-width: 25%; margin-bottom: 10px;" />
                                <img v-if="preview1" :src="preview1" alt="預覽圖片" class="img-fluid"
                                     style="max-width: 25%; margin-bottom: 10px;" />
                                <input type="file" accept="image/*" @@change ="previewimage($event, 0)">
                                <button @@click ="removeImage(0)" v-if="product.Images.length > 0">移除圖片</button> <!-- 移除圖片按鈕 -->
                            </div>

                            <!-- 區塊 2: 顯示圖片 2 -->
                            <div v-if="product.Images.length > 1">
                                <img v-if="!preview2" :src="`https://localhost:7251/images/${product.Images[1]}`" alt="圖片02" class="img-fluid"
                                     style="max-width: 25%; margin-bottom: 10px;" />
                                <img v-if="preview2" :src="preview2" alt="預覽圖片" class="img-fluid"
                                     style="max-width: 25%; margin-bottom: 10px;" />
                                <input type="file" accept="image/*" @@change ="previewimage($event, 1)">
                                <button @@click ="removeImage(1)" v-if="product.Images.length > 1">移除圖片</button> <!-- 移除圖片按鈕 -->
                            </div>

                            <!-- 區塊 3: 顯示圖片 3 -->
                            <div v-if="product.Images.length > 2">
                                <img v-if="!preview3" :src="`https://localhost:7251/images/${product.Images[2]}`" alt="圖片03" class="img-fluid"
                                     style="max-width: 25%; margin-bottom: 10px;" />
                                <img v-if="preview3" :src="preview3" alt="預覽圖片" class="img-fluid"
                                     style="max-width: 25%; margin-bottom: 10px;" />
                                <input type="file" accept="image/*" @@change ="previewimage($event, 2)">
                                <button @@click ="removeImage(2)" v-if="product.Images.length > 2">移除圖片</button> <!-- 移除圖片按鈕 -->
                            </div>
                        </div>  
                    </div>
                </div>

            </form>
            @*顯示樣本*@
            <form v-else>
                <div class="mb-3 row">
                    <div class="col-6">
                        <div class="row">
                            <label for="fName" class="col-md-3 col-form-label">商品名稱：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fName" :value="product.fName" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <label for="fClassification" class="col-md-3 col-form-label">商品分類：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fClassification" :value="product.fClassification" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-6">
                        <div class="row">
                            <label for="fPrice" class="col-md-3 col-form-label">商品價格：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fPrice" :value="product.fPrice" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <label for="fDescription" class="col-md-3 col-form-label">商品描述：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fDescription" :value="product.fDescription" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-6">
                        <div class="row">
                            <label for="fQuantity" class="col-md-3 col-form-label">庫存數量：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fQuantity" :value="product.fQuantity" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <label for="fLaunchAt" class="col-md-3 col-form-label">上架日期：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="datepicker" :value="product.fLaunchAt" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-6">
                        <div class="row">
                            <label for="fStorage" class="col-md-3 col-form-label">藏溫方式：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fStorage" :value="product.fStorage" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <label for="fOrigin" class="col-md-3 col-form-label">產地：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fOrigin" :value="product.fOrigin" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-6">
                        <div class="row">
                            <label for="fLaunch" class="col-md-3 col-form-label">上架狀態：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fLaunch" :value="product.fLaunch" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <label for="fEditor" class="col-md-3 col-form-label">修改人：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fEditor" :value="product.fEditor" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-6">
                        <div class="row">
                            <label for="fImgName" class="col-md-3 col-form-label">商品照片：</label>
                            <div class="col-md-9">
                                <div v-if="product.Images && product.Images.length > 0 && product.Images[0]">
                                    <img :src="'https://localhost:7251/images/' + product.Images[0]"
                                         alt="商品圖片 1"
                                         class="img-fluid d-inline-flex"
                                         style="max-width: 25%; margin-bottom: 10px; " />
                                </div>
                                <div v-else-if="product.Images.length === 0">loading</div>

                                <!-- 第二個圖片區塊 -->
                                <div v-if="product.Images && product.Images.length > 1 && product.Images[1]">
                                    <img :src="'https://localhost:7251/images/' + product.Images[1]"
                                         alt="商品圖片 2"
                                         class="img-fluid d-inline-flex"
                                         style="max-width: 25%; margin-bottom: 10px; " />
                                </div>

                                <!-- 第三個圖片區塊 -->
                                <div v-if="product.Images && product.Images.length > 2 && product.Images[2]">
                                    <img :src="'https://localhost:7251/images/' + product.Images[2]"
                                         alt="商品圖片 3"
                                         class="img-fluid d-inline-flex"
                                         style="max-width: 25%; margin-bottom: 10px; " />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!-- 返回與編輯按鈕 -->
            <div>
                <a href="#" @@click="goToIndex" class="btn btn-outline-primary">回商品列表</a>
                <button v-if="product.fId" @@click="toggleEditting" class="btn btn-primary">編輯資料/取消</button>
                <button v-if="edit" @@click="saveProduct" id="update" class="btn btn-success">儲存修改</button>
            </div>
        </div>

        <div v-else>
            <p>載入中...</p>
        </div>
    </div>
</div>

@section Scripts
{
    
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    product: {
                        Images:[]
                    },                    
                    edit:false, //啟用編輯
                    file: null,
                    preview:null,
                    images:null,
                    preview1:null,
                    preview2:null,
                    preview3:null,
                };
            },
            mounted() {
                this.loadProductId();  // 确保调用正确的 method
            },
            methods: {
                loadProductId() {
                        // 获取当前 URL 的路径部分
                        const path = window.location.pathname;

                        // 假设 URL 路径的格式是 /Person/Details/{id}
                        const pathSegments = path.split('/'); // 将路径分割为数组

                        // 获取路径的最后一部分作为 ID
                        const productId = pathSegments[pathSegments.length - 1];
                    if (productId) {
                        axios.get(`/Products/GetProductById/${productId}`)
                            .then(response => {
                                console.log(response.data);  // 查看返回的產品資料
                                this.product = response.data; // 把返回的資料賦值給 product
                                this.product.Images = response.data.images || [];

                                localStorage.setItem('productImages', JSON.stringify(this.product.Images));
                                this.displayImages();
                            })
                            .catch(error => {
                                console.error('資料加載錯誤', error);
                                this.product = {};  // 如果出錯，清空資料
                                this.product.Images = [];
                            });
                    } else {
                        console.error('未提供有效的 ID');
                    }
                },

                displayImages() {
                    const savedImages = JSON.parse(localStorage.getItem('productImages'));

                    if (savedImages && savedImages.length > 0) {
                        this.product.Images = savedImages;
                    }
                },

                goToIndex() {
                    window.location.href = "/Products/index";  // 返回到员工与会员列表页面，或者修改为你的页面路径
                },

                toggleEditting() {
                this.edit = !this.edit;  // 切換 edit 值
                },

                fileChange(event, index) {
                    const file = event.target.files[0];
                    //console.log(inputFile);
                    if (file) { this.uploadfile(file, index); }
                },
                async uploadfile(file, index) {
                    const formData = new FormData();
                    formData.append("file", file);
                    formData.append("index", index);

                    try {
                        const response = await fetch('https://localhost:7251/updateImage', {
                            method: 'PUT',
                            body: formData
                        });

                        if (response.ok) {
                            const data = await response.json();
                            console.log("上傳成功", data);

                            if (data && data.Images) {
                                console.log("後端回傳的圖片資料:", data.Images);

                                // 確保後端回傳的圖片資料包含正確的排序
                                // 先移除舊圖片
                                const oldImage = this.product.Images[index];

                                // 移除舊圖片
                                const imageIndex = this.product.Images.indexOf(oldImage);
                                if (imageIndex !== -1) {
                                    this.product.Images.splice(imageIndex, 1);  // 移除舊圖片
                                }
                                // 重新排序圖片並更新資料
                                this.product.Images = data.Images; // 從後端獲取新的圖片陣列（包含正確的排序）

                                // 儲存更新後的產品資料
                                this.saveProduct();
                            }
                        } else {
                            const errorData = await response.json();
                            console.error("上傳失敗:", errorData);
                        }
                    } catch (error) {
                        console.error("上傳錯誤:", error);
                    }
                },

                //瀏覽圖片
                previewimage:function(event, index){
                    var input = event.target;
                    if(input.files){
                        var reader = new FileReader();
                        reader.onload = (e)=>{
                            if(index ===0)
                            this.preview1 = e.target.result;
                        }
                        this.images=input.files[0];
                        reader.readAsDataURL(input.files[0])
                    }
                    if(this.images)
                    {
                        this.uploadfile(this.images, index);
                    }
                },

                saveProduct() {
                    alert("saveProduct");
                    if (this.product.fId) {
                        console.log(this.product);  // 打印数据，确认数据是否正确
                        const productData =JSON.parse(JSON.stringify(this.product))
                        axios.put(`/Products/update`, productData)
                            .then(response => {
                                // 儲存成功後處理的邏輯，例如顯示成功訊息或重新載入資料
                                alert("資料已儲存!");
                                this.saveImg();
                                this.toggleEditting();  // 儲存後退出編輯模式
                            })
                            .catch(error => {
                                console.error('儲存失敗', error);
                                alert("儲存資料時發生錯誤");
                            });
                    } else {
                        alert("無效的使用者ID，無法儲存資料");
                    }
                },

                saveImg() {
                    // 假設需要將圖片發送到後端
                    if (this.file) {
                        const formData = new FormData();
                        formData.append("file", this.file);
                        axios.put("/Products/updateImage", formData)
                            .then(response => {
                                console.log("圖片儲存成功！", response);
                            })
                            .catch(error => {
                                console.error("圖片儲存失敗", error);
                            });
                    }
                },
                
            }//methods

        });

        app.mount('#app'); // 使用 Vue 3 创造并挂载应用
    </script>
}

