@model prjVegetable.Models.CProductWrap

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutERP.cshtml";
}

<h1>商品詳細資料</h1>
<br />
<hr />
<div id="app">
    <div class="container">
        <div v-if="product" :key="product.fId">
            <form v-if="edit">
                <div class="mb-3 row">
                    <div class="col-6">
                        <div class="row">
                            <label for="fName" class="col-md-3 col-form-label">商品名稱：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fName" :placeholder="product.fName" v-model="product.fName">
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <label for="fClassification" class="col-md-3 col-form-label">商品分類：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fClassification" :placeholder="product.fClassification" v-model="product.fClassification">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-6">
                        <div class="row">
                            <label for="fPrice" class="col-md-3 col-form-label">商品價格：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fPrice" :placeholder="product.fPrice" v-model="product.fPrice">
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <label for="fDescription" class="col-md-3 col-form-label">商品描述：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fDescription" :placeholder="product.fDescription" v-model="product.fDescription">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-6">
                        <div class="row">
                            <label for="fQuantity" class="col-md-3 col-form-label">庫存數量：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fQuantity" :placeholder="product.fQuantity" v-model="product.fQuantity">
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <label for="fLaunchAt" class="col-md-3 col-form-label">上架日期：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="datepicker" :placeholder="product.fLaunchAt" v-model="product.fLaunchAt">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-6">
                        <div class="row">
                            <label for="fStorage" class="col-md-3 col-form-label">藏溫方式：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fStorage" :placeholder="product.fStorage" v-model="product.fStorage">
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <label for="fOrigin" class="col-md-3 col-form-label">產地：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fOrigin" :placeholder="product.fOrigin" v-model="product.fOrigin">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-6">
                        <div class="row">
                            <label for="fLaunch" class="col-md-3 col-form-label">上架狀態：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fLaunch" :placeholder="product.fLaunch" v-model="product.fLaunch">
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <label for="fImgName" class="col-md-3 col-form-label">商品照片：</label>
                            <div class="col-md-9">
                                <img v-if="img.fImgName" :src="img.fImgName" alt="Product Image" style="max-width: 25%; height: auto;">
                                @* <input type="text" class="form-control" id="fImgName" :placeholder="img.fImgName" v-model="img.fImgName"> *@
                            </div>
                        </div>
                    </div>
                </div>
                
            </form>
            @*顯示樣本*@
            <form v-else>
                <div class="mb-3 row">
                    <div class="col-6">
                        <div class="row">
                            <label for="fName" class="col-md-3 col-form-label">商品名稱：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fName" :value="product.fName" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <label for="fClassification" class="col-md-3 col-form-label">商品分類：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fClassification" :value="product.fClassification" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-6">
                        <div class="row">
                            <label for="fPrice" class="col-md-3 col-form-label">商品價格：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fPrice" :value="product.fPrice" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <label for="fDescription" class="col-md-3 col-form-label">商品描述：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fDescription" :value="product.fDescription" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-6">
                        <div class="row">
                            <label for="fQuantity" class="col-md-3 col-form-label">庫存數量：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fQuantity" :value="product.fQuantity" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <label for="fLaunchAt" class="col-md-3 col-form-label">上架日期：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="datepicker" :value="product.fLaunchAt" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-6">
                        <div class="row">
                            <label for="fStorage" class="col-md-3 col-form-label">藏溫方式：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fStorage" :value="product.fStorage" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <label for="fOrigin" class="col-md-3 col-form-label">產地：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fOrigin" :value="product.fOrigin" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-6">
                        <div class="row">
                            <label for="fLaunch" class="col-md-3 col-form-label">上架狀態：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fLaunch" :value="product.fLaunch" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <label for="fImgName" class="col-md-3 col-form-label">商品照片：</label>
                            <div class="col-md-9">
                                <img v-if="img.fImgName" :src="img.fImgName" alt="商品照片" class="img-fluid" style="max-width: 25%; height: auto;">
@*                                 <input type="text" class="form-control" id="fImgName" :value="img.fImgName" readonly>
 *@                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    @* <div class="col-6">
                        <div class="row">
                            <label for="fCreatedAt" class="col-md-3 col-form-label">創建日期：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fCreatedAt" :value="person.fCreatedAt" readonly>
                            </div>
                        </div>
                    </div> *@
                    <div class="col-6">
                        <div class="row">
                            <label for="fEditor" class="col-md-3 col-form-label">修改人：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fEditor" :value="product.fEditor" readonly>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!-- 返回與編輯按鈕 -->
            <div>
                <a href="#" @@click="goToIndex" class="btn btn-outline-primary">回商品列表</a>
                <button v-if="product.fId" @@click="toggleEditting" class="btn btn-primary">編輯資料/取消</button>
                <button v-if="edit" @@click="saveProduct" class="btn btn-success">儲存修改</button>
            </div>
        </div>

        <div v-else>
            <p>載入中...</p>
        </div>
    </div>
</div></div>

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    product: [], 
                    img:[],// 用來存放從後端獲得的人員資料
                    edit:false, //啟用編輯
                };
            },
            mounted() {
                this.loadProductId();  // 确保调用正确的 method
            },
            methods: {
                loadProductId() {
                        // 获取当前 URL 的路径部分
                        const path = window.location.pathname;

                        // 假设 URL 路径的格式是 /Person/Details/{id}
                        const pathSegments = path.split('/'); // 将路径分割为数组

                        // 获取路径的最后一部分作为 ID
                        const productId = pathSegments[pathSegments.length - 1];
                    if (productId) {
                        axios.get(`/Products/GetProductById/${productId}`)
                            .then(response => {
                                console.log(response.data);  // 查看返回的產品資料
                                this.product = response.data; // 把返回的資料賦值給 product
                                this.img = response.data;
                            })
                            .catch(error => {
                                console.error('資料加載錯誤', error);
                                this.product = {};  // 如果出錯，清空資料
                                this.img = {};
                            });
                    } else {
                        console.error('未提供有效的 ID');
                    }
                },
                goToIndex() {
                    window.location.href = "/Product/index";  // 返回到员工与会员列表页面，或者修改为你的页面路径
                },

                toggleEditting() {
                this.edit = !this.edit;  // 切換 edit 值
                },
                saveProduct() {
                    if (this.product.fId) {
                        console.log(this.product);  // 打印数据，确认数据是否正确
                        const productData =JSON.parse(JSON.stringify(this.product))
                        axios.put(`/Products/update`, productData)
                            .then(response => {
                                // 儲存成功後處理的邏輯，例如顯示成功訊息或重新載入資料
                                alert("資料已儲存!");
                                this.toggleEditting();  // 儲存後退出編輯模式
                            })
                            .catch(error => {
                                console.error('儲存失敗', error);
                                alert("儲存資料時發生錯誤");
                            });
                    } else {
                        alert("無效的使用者ID，無法儲存資料");
                    }
                }
            }
        });

        app.mount('#app'); // 使用 Vue 3 创造并挂载应用
    </script>
}