@model prjVegetable.Models.CPurchaseWrap

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutERP.cshtml";
}
<div class="text-center mt-3">
	<h1>新增採購單</h1>
</div>
<div class="row d-flex justify-content-center">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="FId" class="control-label "></label>
                <input asp-for="FId" class="form-control"/>
                <span asp-validation-for="FId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FBuyDate" class="control-label"></label>
                <input type="date" asp-for="FBuyDate" class="form-control" type="datetime-local" min="1900-01-01T00:00" max="9999-12-31T23:59" />
                <span asp-validation-for="FBuyDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FProviderId" class="control-label"></label>
                <input asp-for="FProviderId" class="form-control" />
                <span asp-validation-for="FProviderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FInvoiceForm" class="control-label"></label>
                <select asp-for="FInvoiceForm" class="form-control">
                    <option value="0">二連</option>
                    <option value="1">三連</option>
                </select>
                <span asp-validation-for="FInvoiceForm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FPayment" class="control-label"></label>
                <select asp-for="FPayment" class="form-control">
                    <option value="0">日結</option>
                    <option value="1">月結</option>
                </select>
                <span asp-validation-for="FPayment" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FEditor" class="control-label"></label>
                <input asp-for="FEditor" class="form-control" readonly/>
                <span asp-validation-for="FEditor" class="text-danger" ></span>
            </div>
            <div class="form-group">
                <label asp-for="FPreTax" class="control-label"></label>
                <input asp-for="FPreTax" class="form-control" />
                <span asp-validation-for="FPreTax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FTax" class="control-label"></label>
                <input asp-for="FTax" class="form-control" />
                <span asp-validation-for="FTax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FTotal" class="control-label"></label>
                <input asp-for="FTotal" class="form-control" />
                <span asp-validation-for="FTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FNote" class="control-label"></label>
                <input asp-for="FNote" class="form-control" />
                <span asp-validation-for="FNote" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="新增並送出" class="btn btn-primary" />
            </div>
        </form>
		<div class="mt-2 mb-2">
			<form asp-action="List" method="post">
				<button type="submit" class="btn btn-danger">取消</button>
			</form>
		</div>
    </div>
</div>



@* @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
 *@
