@model team_20241228.Models.CTPurchaseWrap

@{
    ViewData["Title"] = "create";
    Layout = "~/Views/Shared/_LayoutERP.cshtml";
}

<h1>新增採購單</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
@*             <div class="form-group">
                <label asp-for="FId" class="control-label"></label>
                <input asp-for="FId" class="form-control" />
                <span asp-validation-for="FId" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="FBuyDate" class="control-label"></label>
                <input asp-for="FBuyDate" class="form-control" />
                <span asp-validation-for="FBuyDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FSupplierId" class="control-label"></label>
                <input asp-for="FSupplierId" class="form-control" />
                <span asp-validation-for="FSupplierId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FSupplierName" class="control-label"></label>
                <input asp-for="FSupplierName" class="form-control" />
                <span asp-validation-for="FSupplierName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FBuyer" class="control-label"></label>
                <input asp-for="FBuyer" class="form-control" />
                <span asp-validation-for="FBuyer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FExpirationDate" class="control-label"></label>
                <input asp-for="FExpirationDate" class="form-control" />
                <span asp-validation-for="FExpirationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FIsTax" class="control-label"></label>
                <input asp-for="FIsTax" class="form-control" />
                <span asp-validation-for="FIsTax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FInvoiceForm" class="control-label"></label>
                <input asp-for="FInvoiceForm" class="form-control" />
                <span asp-validation-for="FInvoiceForm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FPayment" class="control-label"></label>
                <input asp-for="FPayment" class="form-control" />
                <span asp-validation-for="FPayment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FCreater" class="control-label"></label>
                <input asp-for="FCreater" class="form-control" />
                <span asp-validation-for="FCreater" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FEditor" class="control-label"></label>
                <input asp-for="FEditor" class="form-control" />
                <span asp-validation-for="FEditor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FPreTax" class="control-label"></label>
                <input asp-for="FPreTax" class="form-control" />
                <span asp-validation-for="FPreTax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FTax" class="control-label"></label>
                <input asp-for="FTax" class="form-control" />
                <span asp-validation-for="FTax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FTotal" class="control-label"></label>
                <input asp-for="FTotal" class="form-control" />
                <span asp-validation-for="FTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FNote" class="control-label"></label>
                <input asp-for="FNote" class="form-control" />
                <span asp-validation-for="FNote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="新增並送出" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">取消</a>
</div>

@* @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
 *@