@model prjVegetable.Models.CGoodsInAndOutWrap

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutERP.cshtml";
}

<h1>新增資料</h1>

<hr />
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row mb-3">
        <div class="col-6">
            <div class="form-group">
                <label asp-for="FInOut" class="control-label"></label>
                <select asp-for="FInOut" class="form-control">
                    <option value="0">進貨</option>
                    <option value="1">出貨</option>
                </select>
                <span asp-validation-for="FInOut" class="text-danger"></span>
            </div>
        </div>

        <div class="col-6">
            <div class="form-group">
                <label asp-for="FDate" class="control-label"></label>
                <input asp-for="FDate" class="form-control" type="date" min="@DateTime.Now.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="FDate" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-6">
            <div class="form-group">
                <label asp-for="FInvoiceId" class="control-label"></label>
                <input asp-for="FInvoiceId" class="form-control" />
                <span asp-validation-for="FInvoiceId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label asp-for="FProviderId" class="control-label"></label>
                <input asp-for="FProviderId" class="form-control" />
                <span asp-validation-for="FProviderId" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-6">
            <div class="form-group">
                <label asp-for="FPersonId" class="control-label"></label>
                <input asp-for="FPersonId" class="form-control" />
                <span asp-validation-for="FPersonId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-6">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <div class="form-group">
                <label asp-for="FTotal" class="control-label"></label>
                <input asp-for="FTotal" class="form-control" />
                <span asp-validation-for="FTotal" class="text-danger"></span>
            </div>
        </div>        
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <div class="form-group">
                <label asp-for="FNote" class="control-label"></label>
                <input asp-for="FNote" class="form-control" />
                <span asp-validation-for="FNote" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-6">
            <div>
                <a asp-action="GoodsInAndOutIndex">回進出貨列表</a>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group d-grid justify-content-md-end">
                <input type="submit" value="新增資料" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>
