/* --------- 通用樣式 ---------- */
.w-divider-h-1 {
    display: inline-block;
    width: 100%; /* 分隔线的宽度 */
    border-top: 1px solid #ccc; /* 设置分隔线的样式 */
}

    .w-divider-h-1 + .w-divider-h-1 {
        margin-left: 10px; /* 在分隔线之间添加间距 */
        margin-right: 10px;
    }

    .w-divider-h-1 span {
        display: inline-block;
        padding: 0 10px;
        background-color: white; /* 文字背景为白色，避免文字和分隔线重叠 */
        font-weight: bold;
        color: black; /* 文字颜色 */
    }

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 43px;
    flex-shrink: 0;
}

.container {
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.bg-primary {
    background-color: #8D8266 !important;
}

.btn-outline-primary {
    color: #333;
    border: 1px solid white;
    transition: all 0.2s ease-in-out;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #ffffff;
    border-color: #ffffff;
}

.btn-outline-primary:active {
    transform: scale(0.95);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    background-color: #eaeaea !important;
    border-color: #ddd !important;
}


/* ----------- navbar ------------*/
.navbar {
    background-color: #ffffff;
    font-family: LXGW WenKai Mono TC, Tahoma, sans-serif;
    font-size: 22px;
    position: fixed;
}

.navbar-nav, .nav-link {
    color: #A59B80;
    padding-bottom: 5px;
    border-bottom: 3px solid transparent;
    text-decoration: none;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

.navbar-nav .nav-link:visited {
        color: #A59B80;
}

.nav-link:hover,
    .nav-link:focus,
    .nav-link.active {
        color: #8D8266;
        border-bottom: 3px solid #8D8266;

}

.navbar-brand {
    font-family: 'Times New Roman', Times, serif;
    color: #A59B80;
    font-size: 30px;
}

.navbar-brand:hover {
        color: #8D8266;
}

.nav-icon i {
    color: #A59B80;
}

    .nav-icon i:hover {
        color: #8D8266;
    }

.nav-icon a {
    text-decoration: none;
}

/* ---------- carousel -----------*/
.carousel {
    width: 100%;
    margin: 0 auto;
}

/* ---------- context -----------*/

/* ---------- sidebar -----------*/
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.cart-card-img {
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    display: block;
    object-fit: contain;
    object-position: center;
}

.cart-card-title {
    font-size: 16px;
}

.cart-card-price {
    font-size: 14px;
    margin-block-end: 0px !important;
}

.cart-card-body {
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}


/* ---------- up_to_top -----------*/
#up-to-top {
    width: 60px;
    height: 60px;
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: #8D8266;
    /* Set a background color */
    color: white;
    cursor: pointer;
    /* Add a mouse pointer on hover */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(20px);
}

#up-to-top.show {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

#up-to-top:hover {
    background-color: #8D8266;
}

/* ----------- footer ------------*/

.footer {
    background-color: #8D8266;
}


.footer-icon {
    width: 40%;
    height: auto;
    object-fit: cover;
}

.footer-title-link {
    font-family: LXGW WenKai Mono TC, Tahoma, sans-serif;
    color: #ffffff;
    padding-bottom: 5px;
    text-decoration: none;
    font-size: 22px;
    position: relative;
    /*使after::before::能定位*/
}

.footer-title-link:visited {
    font-family: LXGW WenKai Mono TC, Tahoma, sans-serif;
    color: #ffffff;
    font-size: 22px;
}

.footer-title-link:hover,
.footer-title-link:focus {
    font-family: LXGW WenKai Mono TC, Tahoma, sans-serif;
    color: #ffffff;
    font-size: 22px;
}

.footer-title-link::after,
.footer-title-link::before {
    content: "✦";
    font-size: 22px;
    color: #ffffff;
    margin-left: 5px;
    margin-right: 5px;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.footer-title-link:hover::after,
.footer-title-link:focus::after,
.footer-title-link:hover::before,
.footer-title-link:focus::before {
    opacity: 1;
}

.footer-logo {
    font-family: 'Times New Roman', Times, serif;
    font-size: 42px;
}

.footer-link {
    font-family: LXGW WenKai Mono TC, Tahoma, sans-serif;
    color: #ffffff;
    padding-bottom: 5px;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}

.footer-link:visited {
    font-family: LXGW WenKai Mono TC, Tahoma, sans-serif;
    color: #ffffff;
    font-size: 20px;
}

.footer-link:hover,
.footer-link:focus {
    font-family: LXGW WenKai Mono TC, Tahoma, sans-serif;
    color: #ffffff;
    font-size: 20px;
}

.footer-link::after,
.footer-link::before {
    content: "✦";
    font-size: 20px;
    color: #ffffff;
    margin-left: 5px;
    margin-right: 5px;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.footer-link:hover::after,
.footer-link:focus::after,
.footer-link:hover::before,
.footer-link:focus::before {
    opacity: 1;
}

.footer-icon {
    color: #ffffff !important;
    transition: color 0.3s ease;
}

.footer-icon:hover,
.footer-icon:focus {
    color: #ffffff !important;
}

/*-------------------------------------*/
.lc-block {
    font-family: LXGW WenKai Mono TC, Tahoma, sans-serif;
    font-size: 22px;
    color: #8D8266;
}


h1 {
    font-family: LXGW WenKai Mono TC, Tahoma, sans-serif;
    color: #8D8266;
    font-size: 42px;
    text-align: center;
}

.hot-product-card {
    height: 500px;
}

.card-title {
    font-family: LXGW WenKai Mono TC, Tahoma, sans-serif;
    font-size: 30px;
}

.card-text {
    font-family: LXGW WenKai Mono TC, Tahoma, sans-serif;
    font-size: 20px;
}

.breadcrumb {
    font-family: LXGW WenKai Mono TC, Tahoma, sans-serif;
    font-size: 20px;
    margin-top: 40px;
}

    .breadcrumb li:first-child {
        color: #8D8266;
    }

    .breadcrumb a {
        color: #8D8266;
        padding-bottom: 5px;
        text-decoration: none;
        font-size: 20px;
    }

.breadcrumb-item {
    color: #8D8266;
}

    .breadcrumb-item.active {
        color: #8D8266;
    }



.card-img-top {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.modal-title {
    font-family: LXGW WenKai Mono TC, Tahoma, sans-serif;
    font-size: 26px;
    color: #8D8266;
}

.form-control-login {
    border: 1px solid white;
    font-size: 18px;
    width: 100%;
}

.custom-input {
    border: none;
    border-bottom: 1px solid #8D8266;
    border-radius: 0;
    font-size: 20px;
    font-family: LXGW WenKai Mono TC, Tahoma, sans-serif;
    color: #8D8266;
}

    .custom-input:focus {
        box-shadow: none;
        border-bottom: 1px solid #8D8266;
        font-size: 20px;
        font-family: LXGW WenKai Mono TC, Tahoma, sans-serif;
        color: #8D8266;
    }

.btn-primary {
    background-color: #8D8266;
    border: none;
    padding: 12px 20px;
    font-size: 20px;
}

    .btn-primary:active {
        background-color: #6a6453 !important;
        border: none;
    }

    .btn-primary:hover {
        background-color: #6a6453;
        border: none;
    }

.form-check-label {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #8D8266;
}

.text-end {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #8D8266;
    text-decoration: none;
}

.login:hover {
    text-decoration: underline;
    text-decoration-color: #8D8266;
}

.login:visited {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #8D8266;
    text-decoration: none;
}

.modal-dialog {
    max-width: 600px;
    width: 100%;
}

.invalid-feedback {
    font-size: 16px;
}

.form-check-input:checked {
    background-color: #8D8266;
    border-color: #8D8266;
}

    .form-check-input:checked:hover {
        background-color: #6a6453;
        border-color: #6a6453;
    }

.form-check-input:hover {
    border-color: #8D8266;
}



@-webkit-keyframes decrement-prev {
    from {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes decrement-prev {
    from {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes decrement-next {
    from {
        opacity: 0;
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
    }
}

@keyframes decrement-next {
    from {
        opacity: 0;
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
    }
}

@-webkit-keyframes increment-prev {
    from {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes increment-prev {
    from {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes increment-next {
    from {
        opacity: 0;
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
    }
}

@keyframes increment-next {
    from {
        opacity: 0;
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
    }
}

/*----------------------------------*/
.btn-outline-primary:focus {
    outline: none;
}

/*.form-control {
    border: 1px solid white;
    font-size: 18px;
    width: 100%;
}

.text-primary {
    font-family: LXGW WenKai Mono TC, Tahoma, sans-serif !important;
    font-size: 22px !important;
    color: #8D8266 !important;
}


.form-section {
    background-color: #EBEBEB;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

}

.form-label {
    font-weight: bold;
}

.form-label .text-danger {
        font-size: 0.9rem;
}

.invalid-feedback {
    font-size: 0.85rem;
    color: #dc3545;
}



/*-----------------------------------*/

/* HTML: <div class="loader"></div> */
.loader {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    -webkit-mask: conic-gradient(from 15deg,#0000,#000);
    animation: l26 1s infinite steps(12);
}

    .loader,
    .loader:before,
    .loader:after {
        background: radial-gradient(closest-side at 50% 12.5%, #f03355 96%,#0000) 50% 0/20% 80% repeat-y, radial-gradient(closest-side at 12.5% 50%, #f03355 96%,#0000) 0 50%/80% 20% repeat-x;
    }

        .loader:before,
        .loader:after {
            content: "";
            grid-area: 1/1;
            transform: rotate(30deg);
        }

        .loader:after {
            transform: rotate(60deg);
        }

@keyframes l26 {
    100% {
        transform: rotate(1turn)
    }
}

.very-width{
    width: 100%;
}

/*--------------- link ----------------------*/