@using System.Text.Json﻿
@{
    ViewData["Title"] = "忘記密碼";

}


<div class="container mt-5 mx-auto col-md-6">
    <div class="card-header bg-primary text-white text-center " style="border-top-left-radius: 15px; border-top-right-radius: 15px; width:30%;">
        <h3 class="mb-0">忘記密碼</h3>
    </div>
    <div class="card shadow " style="border-radius: 15px;border-top-left-radius: 0;">
        <div class="card-body">
            <form asp-action="ForgotPassword" method="post">
                <div>
                    <label>請輸入您的 Email：</label>
                    <input type="email" name="email" required />
                </div>
                <button type="submit" class="btn btn-primary mt-2">發送重設密碼郵件</button>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{
        if (TempData.Peek("ErrorForgot") != null)
        {
            <script>
                Swal.fire({
                    title: "注意",
                    text: @Json.Serialize(TempData["ErrorForgot"]),
                    icon: "error"
                });
            </script>
        }
        if (TempData.Peek("SuccessForgot") != null)
        {
            <script>
                Swal.fire({
                    title: "成功",
                    text: @Json.Serialize(TempData["SuccessForgot"]),
                    icon: "success"
                });
            </script>
        }
        var userJson = @Context.Session.GetString(CDictionary.SK_LOGINED_USER);
    }
    <script>
        window.onload = function () {
            if (@userJson != null) {
                window.location.href = "/";
            }
        };
    </script>
}