@model prjVegetable.ViewModels.ResetPasswordViewModel
@using System.Text.Json﻿
@{
    ViewData["Title"] = "重設密碼";
}

<div class="container mt-5 mx-auto col-md-6">
    <div class="card-header bg-primary text-white text-center " style="border-top-left-radius: 15px; border-top-right-radius: 15px; width:30%;">
        <h3 class="mb-0">重設密碼</h3>
    </div>
    <div class="card shadow " style="border-radius: 15px;border-top-left-radius: 0;">
        <div class="card-body">
            <form asp-action="ResetPassword" method="post">
                <input type="hidden" asp-for="Email" />
                <input type="hidden" asp-for="Token" />

                <div class="form-group">
                    <label for="newPassword">新密碼：</label>
                    <input type="password" asp-for="NewPassword" class="form-control" id="newPassword" required />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="confirmPassword">確認新密碼：</label>
                    <input type="password" asp-for="ConfirmPassword" class="form-control" id="confirmPassword" required />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary mt-3">重設密碼</button>
            </form>
        </div>
    </div>
</div>



@section Scripts {
    @{
        var userJson = @Context.Session.GetString(CDictionary.SK_LOGINED_USER);
    }
    <script>
        window.onload = function () {
            if (@userJson != null) {
                window.location.href = "/"; 
            }
        };
    </script>
}
