<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LEGO_HERE 首頁</title>

    <!-- Boostrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/site.css">

</head>
<style>
    .imgicon {
        border-radius: 50%;
        color: white;
        background-color: rgb(83, 178, 233);
        /* 過渡 動態效果*/
        transition: all 0.3s;
    }
</style>

<body>
    

    @RenderBody()
</body>


<script>
    $(function () {
      $(".imgicon").on("mouseenter", function () {
        $(this).css({
          background: "darkblue",
          "font-weight": "bold",
          "font-color": "black",
        });
      });

      $(".imgicon").on("mouseleave", function () {
        $(this).css({
          background: "rgb(83, 178, 233)",
          "font-weight": "normal",
          "font-color": "black",
        });
      });
    }); //end function

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

@await RenderSectionAsync("Scripts", required: false)
</script>
