@model System.Collections.Generic.Dictionary<string, string>
@{

}
<form style="display:none;" id="form" name="form" method="POST" action="https://payment-stage.ecpay.com.tw/Cashier/AioCheckOut/V5">
    <!--step2 : 收到後端的值印出來-->
    @foreach (var key in @Model.Keys.ToList())
    {
        @(key) <input type="text" name="@key" value="@Model[key]" />

        <br />
    }
    <button type="submit" id="checkoutBtn">送出</button>
</form>

<div id="loadercontainer" style="margin: auto; display: flex; justify-content: center; align-items: center;">
    <div class="label" style="font-size: 60px;margin-top:150px">
        載入中
        <div class="loader" style="margin: auto;"></div>
    </div>
</div>

<!-- js套件 -->

<!-- 自己的 -->
@section Scripts {
    <script src="~/js/ecpay.js"></script>
    <script>
        window.addEventListener("load", function () {
            document.getElementById("checkoutBtn").click();
        });
    </script>
}
