@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

*@
@{
    Layout = "~/Views/Shared/_LayoutERP.cshtml";
}
@section Styles {
    <style>
        .card {
            border-radius: 10px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        }

    </style>
}
<section class="section dashboard p-4">
    <div class="row">
        <!-- Left side columns -->
        <div class="col-lg-7 ms-auto">
            <div class="row">
                <!-- 會員 -->
                <div class="col-xxl-4 col-md-6 ">
                    <div class="card info-card mt-3 h-100">
                        <div class="card-body ">
                            <h5 class="card-title fw-bold fs-5">會員</h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center me-3">
                                    <i class="bi bi-people-fill display-6"></i>
                                </div>
                                <h3 id="Members" class="flex-grow-1 text-center m-0">0</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End 會員 -->
                <!-- 瀏覽人次 -->
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card  position-relative mt-3 h-100">
                        <!-- 篩選器放到右上角 -->
                        <div class="filter position-absolute top-0 end-0 p-2">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow" id="Orders_List">
                                <li class="dropdown-header text-start">
                                    <h6>篩選</h6>
                                </li>
                                <li><a class="dropdown-item" href="#" onclick="updateVisitorsData('day', '今天')">今天</a></li>
                                <li><a class="dropdown-item" href="#" onclick="updateVisitorsData('month', '這個月')">這個月</a></li>
                                <li><a class="dropdown-item" href="#" onclick="updateVisitorsData('year', '今年')">今年</a></li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title fw-bold fs-5">瀏覽人次 <span id="VisitorDate">| 今天</span></h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center me-3">
                                    <i class="bi bi-fire display-6"></i>
                                </div>
                                <h3 id="Visitors" class="flex-grow-1 text-center m-0">0</h3>
                            </div>
                            <span class="text-success small pt-1 fw-bold" id="VisitorsPercentage"></span> <span class="text-muted small pt-2 ps-1" id="VisitorsCompare"></span>
                        </div>
                    </div>
                </div>
                <!-- End 瀏覽人次 -->
                <!-- 訂單 -->
                <div class="col-xxl-4 col-xl-12">
                    <div class="card info-card sales-card position-relative mt-3 h-100">
                        <!-- 篩選器放到右上角 -->
                        <div class="filter position-absolute top-0 end-0 p-2">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow" id="Orders_List">
                                <li class="dropdown-header text-start">
                                    <h6>篩選</h6>
                                </li>
                                <li><a class="dropdown-item" href="#" onclick="updateOrdersData('day', '今天')">今天</a></li>
                                <li><a class="dropdown-item" href="#" onclick="updateOrdersData('month', '這個月')">這個月</a></li>
                                <li><a class="dropdown-item" href="#" onclick="updateOrdersData('year', '今年')">今年</a></li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title fw-bold fs-5">訂單數 <span id="OrdersDate">| 今天</span></h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center me-3">
                                    <i class="bi bi-cart-check-fill display-6"></i>
                                </div>
                                <h3 id="Orders" class="flex-grow-1 text-center m-0">0</h3>
                            </div>
                            <span class="text-success small pt-1 fw-bold" id="VisitorsPercentage"></span> <span class="text-muted small pt-2 ps-1" id="VisitorCompare"></span>
                        </div>
                    </div>
                </div>
                <!-- End 訂單 -->
            </div>
            <!-- Start 折線圖一年會員數 -->
            <!-- End 折線圖一年會員數 -->
        </div>
        <!-- End Left side columns -->
        <!-- Right side columns -->
        <div class="col-lg-3 me-auto">
            <!-- 通知 -->
            <div class="card mt-3">
                <div class="card-body pb-1">
                    <h5 class="card-title fs-5 fw-bold py-0 mb-0">通知</h5>
                    <div id="notification" style="height: 250px; overflow-y: auto;">
                    </div>
                </div>
            </div>
            <!-- End 通知 -->
            <!-- 類別銷量 -->
            <div class="card mt-3">
                <div class="filter position-absolute top-0 end-0 p-2">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow" id="Orders_List">
                        <li class="dropdown-header text-start">
                            <h6>篩選</h6>
                        </li>
                        <li><a class="dropdown-item" href="#" onclick="updateVisitorsData('day', '今天')">今天</a></li>
                        <li><a class="dropdown-item" href="#" onclick="updateVisitorsData('month', '這個月')">這個月</a></li>
                        <li><a class="dropdown-item" href="#" onclick="updateVisitorsData('year', '今年')">今年</a></li>
                    </ul>
                </div>
                <div class="card-body pb-0">
                    <h5 class="card-title fw-bold fs-5">類別銷量 <span id="sales_date">| 今天</span></h5>
                    <div id="trafficChart" style="min-height: 400px;" class="echart"></div>
                </div>
            </div>
            <!-- End 類別銷量 -->
            <!-- 銷售排行 -->
            <div class="card top-selling overflow-auto mt-3" style="min-height:220px;">
                <div class="filter position-absolute top-0 end-0 p-2">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow" id="Orders_List">
                        <li class="dropdown-header text-start">
                            <h6>篩選</h6>
                        </li>
                        <li><a class="dropdown-item" href="#" onclick="updateVisitorsData('day', '今天')">今天</a></li>
                        <li><a class="dropdown-item" href="#" onclick="updateVisitorsData('month', '這個月')">這個月</a></li>
                        <li><a class="dropdown-item" href="#" onclick="updateVisitorsData('year', '今年')">今年</a></li>
                    </ul>
                </div>
                <div class="card-body pb-0">
                    <h5 class="card-title fw-bold fs-5">銷售排行 <span id="SalesRanking_Date">| 今天</span></h5>
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th scope="col" class="fs-6">圖片</th>
                                <th scope="col" class="fs-6">產品</th>
                                <th scope="col" class="fs-6">數量</th>
                            </tr>
                        </thead>
                        <tbody id="SalesRanking">
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- End 銷售排行 -->
        </div><!-- End Right side columns -->
    </div>
</section>

@section Scripts {

}