@model prjVegetable.Models.CCustomerWrap

@{
    ViewData["Title"] = "Index";

}

<h1 class="mt-5">會員資料</h1>


<hr />
<div class="container my-5" id="app">
    <div class="row">
        <div class="col-md-3">
            <nav class="nav flex-column align-items-start">
                <a class="nav-link" asp-controller="Customer" asp-action="Index">會員資料</a>
                <a class="nav-link" asp-controller="Customer" asp-action="Order">訂單紀錄</a>
                <a class="nav-link" asp-controller="Customer" asp-action="Report">問題回報</a>
                <a class="nav-link" asp-controller="Customer" asp-action="Favorite">我的最愛</a>
                <a class="nav-link" asp-controller="Customer" asp-action="MyComment">我的評論</a>
            </nav>
        </div>
        <div class="col-md-9">
            <div v-if="Customer" class="row">
                <form v-show="edit===1">
                    <div class="mb-3 row">
                        <div class="col-6">
                            <div class="row">
                                <label for="fAccount" class="col-md-3 col-form-label">帳號：</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="fAccount" :value="Customer.fAccount" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <label for="fPassword" class="col-md-3 col-form-label">密碼：</label>
                                <div class="col-md-9">
                                    <input type="password" class="form-control" id="fPassword" :value="Customer.fPassword" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-6">
                            <div class="row">
                                <label for="fName" class="col-md-3 col-form-label">姓名：</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="fName" :placeholder="請輸入新姓名" v-model="Customer.fName">
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <label for="fPhone" class="col-md-3 col-form-label">手機號碼：</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="fPhone" :placeholder="請輸入新手機號碼" v-model="Customer.fPhone">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-6">
                            <div class="row">
                                <label for="fGender" class="col-md-3 col-form-label">性別：</label>
                                <div class="col-md-9">
                                    <select class="form-control" id="fGender" v-model="Customer.fGender">
                                        <option value="男">男</option>
                                        <option value="女">女</option>
                                        <option value="其他">其他</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <label for="fBirth" class="col-md-3 col-form-label">生日：</label>
                                <div class="col-md-9">
                                    <input type="date" class="form-control" id="datepicker" :placeholder="Customer.fBirth" v-model="Customer.fBirth">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-6">
                            <div class="row">
                                <label for="fUbn" class="col-md-3 col-form-label">統編：</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="fUbn" :placeholder="請輸入新統編" v-model="Customer.fUbn">
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <label for="fTel" class="col-md-3 col-form-label">家用電話：</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="fTel" :placeholder="請輸入新電話" v-model="Customer.fTel">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-6">
                            <div class="row">
                                <label for="fAddress" class="col-md-3 col-form-label">地址：</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="fAddress" :placeholder="請輸入新地址" v-model="Customer.fAddress">
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <label class="col-md-3 col-form-label">郵件驗證：</label>
                                <div class="col-md-9">
                                    <label v-if="emailVerified" class="col-form-label text-success">已驗證</label>
                                    <label v-if="!emailVerified" class="col-form-label text-danger">尚未驗證</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <form v-show="edit === 2">
                    <div class="mb-3 row">
                        <div class="col-6">
                            <div class="row">
                                <label for="OldPassword" class="col-md-3 col-form-label">舊密碼：</label>
                                <div class="col-md-9">
                                    <input type="password" class="form-control" id="OldPassword" placeholder="請輸入舊密碼" v-model="OldPassword">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-6">
                            <div class="row">
                                <label for="newPassword" class="col-md-3 col-form-label">新密碼：</label>
                                <div class="col-md-9">
                                    <input type="password" class="form-control" id="newPassword" placeholder="請輸入新密碼" v-model="newPassword">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-6">
                            <div class="row">
                                <label for="ConfirmPassword" class="col-md-3 col-form-label">確認密碼：</label>
                                <div class="col-md-9">
                                    <input type="password" class="form-control" id="ConfirmPassword" placeholder="請確認新密碼" v-model="ConfirmPassword">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-if="passwordError" class="text-danger">舊密碼錯誤或新密碼與確認密碼不一致</div>

                </form>
                @*顯示樣本*@
                <form v-show="edit===0">
                    <div class="mb-3 row">
                        <div class="col-6">
                            <div class="row">
                                <label for="fAccount" class="col-md-3 col-form-label">帳號：</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="fAccount" :value="Customer.fAccount" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <label for="fPassword" class="col-md-3 col-form-label">密碼：</label>
                                <div class="col-md-9">
                                    <input type="password" class="form-control" id="fPassword" :value="Customer.fPassword" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-6">
                            <div class="row">
                                <label for="fName" class="col-md-3 col-form-label">姓名：</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="fName" :value="Customer.fName" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <label for="fPhone" class="col-md-3 col-form-label">手機號碼：</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="fPhone" :value="Customer.fPhone" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-6">
                            <div class="row">
                                <label for="fGender" class="col-md-3 col-form-label">性別：</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="fGender" :value="Customer.fGender" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <label for="fBirth" class="col-md-3 col-form-label">生日：</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" :value="Customer.fBirth" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-6">
                            <div class="row">
                                <label for="fUbn" class="col-md-3 col-form-label">統編：</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="fUbn" :value="Customer.fUbn" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <label for="fTel" class="col-md-3 col-form-label">家用電話：</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="fTel" :value="Customer.fTel" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-6">
                            <div class="row">
                                <label for="fAddress" class="col-md-3 col-form-label">地址：</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="fAddress" :value="Customer.fAddress" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <label class="col-md-3 col-form-label">郵件驗證：</label>
                                <div class="col-md-9">
                                    <button v-if="!emailVerified" @@click="resendVerificationEmail" class="btn btn-primary" id="resendButton">
                                        重新發送驗證信
                                    </button>
                                    <label v-if="emailVerified" class="col-form-label text-success">已驗證</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- 返回與編輯按鈕 -->
                <div v-if="edit==0">
                    <button @@click="toggleEditing" class="btn btn-primary">編輯資料</button>
                    <button v-if="loginType === 0" @@click="toggleEditPassword" class="btn btn-primary">修改密碼</button>
                </div>
                <div v-if="edit>=1">
                    <button @@click="cancel" class="btn btn-success">取消</button>
                    <button @@click="saveCustomer" class="btn btn-success">儲存修改</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#resendButton').click(function () {
                var $this = $(this);
                var originalText = $this.text();  // 儲存原本的按鈕文字
                $this.prop('disabled', true);  // 禁用按鈕
                var countdown = 60;  // 設定倒數秒數

                var timer = setInterval(function () {
                    $this.text('請 ' + countdown + ' 秒後再試');  // 更新按鈕文字
                    countdown--;

                    if (countdown < 0) {
                        clearInterval(timer);
                        $this.text(originalText);  // 恢復原本的按鈕文字
                        $this.prop('disabled', false);  // 重新啟用按鈕
                    }
                }, 1000);
            });
        });
    </script>

    <script>
        const app = Vue.createApp({
            data() {
                return {
                    Customer: {},
                    editedCustomer: {}, // 用於編輯的資料
                    edit: 0,
                    passwordError: false,
                    OldPassword: '',
                    newPassword: '',
                    ConfirmPassword: '',
                    emailVerified: false, // 是否已驗證
                    loginType: parseInt('@ViewBag.LoginType'),
                };
            },
            mounted() {
                this.loadCustomer(); // 確保調用正確的 method
            },
            methods: {
                loadCustomer() {
                    axios.get('/Customer/GetCustomerById')
                        .then(response => {
                            if (response.data) {
                                this.Customer = response.data;
                                this.emailVerified = this.Customer.fIsVerified; // 從後端獲取
                            }
                        })
                        .catch(error => {
                            console.error("獲取用戶資料失敗:", error);
                        });
                },
                // 重新發送驗證信
                resendVerificationEmail() {
                    if (!this.Customer.fAccount) {
                        alert("無法發送驗證信，請確認您的帳號資訊。");
                        return;
                    }
                    axios.post('/Account/ResendVerificationEmail')
                        .then(response => {
                            alert("驗證信已重新發送，請檢查您的信箱！");
                        })
                        .catch(error => {
                            console.error("重寄驗證信失敗:", error);
                            alert(error.response?.data?.message || "無法發送驗證信，請稍後再試。");
                        });
                },
                toggleEditing() {
                    this.editedCustomer = JSON.parse(JSON.stringify(this.Customer)); // 深拷貝
                    this.edit = 1;
                },
                cancel() {
                    this.edit = 0;
                },
                toggleEditPassword() {
                    this.edit = 2;
                },
                saveCustomer() {
                    const customerData = { ...this.editedCustomer }; // 改成 editedCustomer
                    if (this.edit === 2) {
                        // 在這裡處理密碼更新的邏輯
                        if (this.OldPassword !== this.fPassword || this.newPassword !== this.ConfirmPassword || this.OldPassword === this.newPassword) {
                            this.passwordError = true;
                            return;
                        }
                        customerData.fPassword = this.newPassword;
                        this.passwordError = false; // 清除錯誤訊息
                    }
                    axios.put(`/Customer/update`, customerData)
                        .then(response => {
                            alert("資料已儲存!");
                            this.Customer = { ...this.editedCustomer }; // 確認後更新
                            this.edit = 0;  // 儲存後退出編輯模式
                        })
                        .catch(error => {
                            console.error("儲存客戶資料時發生錯誤:", error);
                        });
                }
            }
        });
        app.mount("#app"); // 掛載 Vue 應用
    </script>

}
