@model prjVegetable.Models.CProviderWrap

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutERP.cshtml";
}

<h1>編輯資料</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FId" />
            <div class="form-group">
                <label asp-for="FName" class="control-label"></label>
                <input asp-for="FName" class="form-control" />
                <span asp-validation-for="FName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FUbn" class="control-label"></label>
                <input asp-for="FUbn" class="form-control" />
                <span asp-validation-for="FUbn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FTel" class="control-label"></label>
                <input asp-for="FTel" class="form-control" />
                <span asp-validation-for="FTel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FConnect" class="control-label"></label>
                <input asp-for="FConnect" class="form-control" />
                <span asp-validation-for="FConnect" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FAccountant" class="control-label"></label>
                <input asp-for="FAccountant" class="form-control" />
                <span asp-validation-for="FAccountant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FAddress" class="control-label"></label>
                <input asp-for="FAddress" class="form-control" />
                <span asp-validation-for="FAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FDelivery" class="control-label"></label>
                <input asp-for="FDelivery" class="form-control" />
                <span asp-validation-for="FDelivery" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FInvoiceAdd" class="control-label"></label>
                <input asp-for="FInvoiceAdd" class="form-control" />
                <span asp-validation-for="FInvoiceAdd" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <input type="submit" value="儲存" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">回廠商列表</a>
</div>

@* @section Scripts { *@
@*     @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} *@
@* } *@
