@model prjVegetable.Models.CInvoiceDetailWrap

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutERP.cshtml";
}

<h1>新增發票明細</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="FId" class="control-label " ></label>
                <input asp-for="FId" class="form-control" />
                <span asp-validation-for="FId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FNumber" class="control-label"></label>
                <input asp-for="FNumber" class="form-control" />
                <span asp-validation-for="FNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FProductName" class="control-label"></label>
                <input asp-for="FProductName" class="form-control" />
                <span asp-validation-for="FProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FConut" class="control-label"></label>
                <input asp-for="FConut" class="form-control" />
                <span asp-validation-for="FConut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FPrice" class="control-label"></label>
                <input asp-for="FPrice" class="form-control" />
                <span asp-validation-for="FPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FSum" class="control-label"></label>
                <input asp-for="FSum" class="form-control" />
                <span asp-validation-for="FSum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="新增並送出" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <form asp-action="List" method="post">
        <button type="submit" class="btn btn-danger">取消</button>
    </form>
</div>

@* @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} *@
