@model prjVegetable.Models.CPersonWrap

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutERP.cshtml";
}
<h1>人員詳細資料</h1>
<br />
<hr />
<div id="app">
    <div class="container">
        <div v-if="person" :key="person.fId">            
            <form v-if="edit">
                <div class="mb-3 row">
                    <div class="col-6">
                        <div class="row">
                            <label for="fname" class="col-md-3 col-form-label">姓名：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fname" :placeholder="person.fName" v-model="person.fName" @@input="validateName">
                                <div v-if="nameError" style="color:red;font-size:1rem">請輸入姓名</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <label for="fUbn" class="col-md-3 col-form-label">統編：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fUbn" :placeholder="person.fUbn" v-model="person.fUbn" @@input="validateUbn">
                                <div v-if="ubnError" style="color:red;font-size:1rem">請輸入有效的8位數字統一編號</div>
                            </div>
                        </div>
                    </div>                           
                </div>
                <div class="mb-3 row">
                    <div class="col-6">
                        <div class="row">
                            <label for="fAccount" class="col-md-3 col-form-label">帳號：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fAccount" :placeholder="person.fAccount" v-model="person.fAccount" @@input="validateAccount">
                                <div v-if="accountError" style="color:red;font-size:1rem">帳號已存在</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <label for="fPassword" class="col-md-3 col-form-label">密碼：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fPassword" :placeholder="person.fPassword" v-model="person.fPassword" @@input="validatePassword">
                                <div v-if="passwordError" style="color:red;font-size:1rem">密碼必須包含英數字，並且至少8位</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-6">
                        <div class="row">
                            <label for="fGender" class="col-md-3 col-form-label">性別：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fGender" :value="person.fGender" v-model="person.fGender">
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <label for="fBirth" class="col-md-3 col-form-label">生日：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="datepicker" :placeholder="person.fBirth" v-model="person.fBirth">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-6">
                        <div class="row">
                            <label for="fPhone" class="col-md-3 col-form-label">手機號碼：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fPhone" :placeholder="person.fPhone" v-model="person.fPhone" @@input="validatePhone">
                                <div v-if="phoneError" style="color:red;font-size:1rem">請輸入有效手機號碼</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <label for="fTel" class="col-md-3 col-form-label">家用電話：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fTel" :placeholder="person.fTel" v-model="person.fTel">
                                <div v-if="telError" style="color:red;font-size:1rem">請輸入有效電話號碼</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-6">
                        <div class="row">
                            <label for="fAddress" class="col-md-3 col-form-label">地址：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fAddress" :placeholder="person.fAddress" v-model="person.fAddress">
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <label for="fEmail" class="col-md-3 col-form-label">電子郵件：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fEmail" :placeholder="person.fEmail" v-model="person.fEmail" @@input="validateEmail">
                                <div v-if="emailError" style="color:red;font-size:1rem">請輸入有效電子郵件</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-6">
                        <div class="row">
                            <label for="fEmp" class="col-md-3 col-form-label">緊急聯絡人：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fEmp" :placeholder="person.fEmp" v-model="person.fEmp" @@input="validateEmp">
                                <div v-if="empError" style="color:red;font-size:1rem">員工請輸入緊急連絡人</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <label for="fEmpTel" class="col-md-3 col-form-label">緊急聯絡人電話：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fEmpTel" :placeholder="person.fEmpTel" v-model="person.fEmpTel" @@input="validateEmpTel">
                                <div v-if="emptelError" style="color:red;font-size:1rem">員工請輸入緊急連絡人電話</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">                    
                    <div class="col-6">
                        <div class="row">
                            <label for="fPermission" class="col-md-3 col-form-label">權限：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fPermission" :value="person.fPermission" v-model="person.fPermission">
                            </div>
                        </div>
                    </div>
                </div>               
            </form>
            @*顯示樣本*@
            <form v-else>
                <div class="mb-3 row">
                    <div class="col-6">
                        <div class="row">
                            <label for="fname" class="col-md-3 col-form-label">姓名：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fName" :value="person.fName" readonly v-model="person.fName">
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <label for="fUbn" class="col-md-3 col-form-label">統編：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fUbn" :value="person.fUbn" readonly v-model="person.fUbn">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-6">
                        <div class="row">
                            <label for="fAccount" class="col-md-3 col-form-label">帳號：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fAccount" :value="person.fAccount" readonly v-model="person.fAccount">
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <label for="fPassword" class="col-md-3 col-form-label">密碼：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fPassword" :value="person.fPassword" readonly v-model="person.fPassword">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-6">
                        <div class="row">
                            <label for="fGender" class="col-md-3 col-form-label">性別：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fGender" :value="person.fGender" readonly v-model="person.fGender">
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <label for="fBirth" class="col-md-3 col-form-label">生日：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="datepicker" :value="person.fBirth" readonly v-model="person.fBirth">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-6">
                        <div class="row">
                            <label for="fPhone" class="col-md-3 col-form-label">手機號碼：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fPhone" :value="person.fPhone" readonly v-model="person.fPhone">
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <label for="fTel" class="col-md-3 col-form-label">家用電話：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fTel" :value="person.fTel" readonly v-model="person.fTel">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-6">
                        <div class="row">
                            <label for="fAddress" class="col-md-3 col-form-label">地址：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fAddress" :value="person.fAddress" readonly v-model="person.fAddress">
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <label for="fEmail" class="col-md-3 col-form-label">電子郵件：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fEmail" :value="person.fEmail" readonly v-model="person.fEmail">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-6">
                        <div class="row">
                            <label for="fEmp" class="col-md-3 col-form-label">緊急聯絡人：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fEmp" :value="person.fEmp" readonly v-model="person.fEmp">
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <label for="fEmpTel" class="col-md-3 col-form-label">緊急聯絡人電話：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fEmpTel" :value="person.fEmpTel" readonly v-model="person.fEmpTel">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-6">
                        <div class="row">
                            <label for="fPermission" class="col-md-3 col-form-label">權限：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fPermission" :value="person.fPermission" readonly v-model="person.fPermission">
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <label for="fId" class="col-md-3 col-form-label">使用者ID：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fId" :value="person.fId" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-6">
                        <div class="row">
                            <label for="fCreatedAt" class="col-md-3 col-form-label">創建日期：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fCreatedAt" :value="formatDate(person.fCreatedAt)" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <label for="fEditor" class="col-md-3 col-form-label">修改人：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fEditor" :value="person.fEditor" readonly>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!-- 返回與編輯按鈕 -->
            <div>
                <a href="#" @@click="goToIndex" class="btn btn-outline-primary">回員工與會員列表</a>
                <button v-if="person.fId" @@click="toggleEditting" class="btn btn-primary">編輯資料/取消</button>
                <button v-if="edit" @@click="savePerson" class="btn btn-success" type="submit" :disabled="!isValid">儲存修改</button>
            </div>
        </div>

        <div v-else>
            <p>載入中...</p>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    person: {
                        fName:'',
                        fAccount:'',
                        fPassword:'',
                        fPhone:'',
                        fTel:'',
                        fEmail:'',
                        fUbn:'',
                        fEmp:'',
                        fEmpTel:'',
                    },  // 用來存放從後端獲得的人員資料
                    personBackup:{},//用來保存原始資料的備份
                    nameError:false,
                    ubnError:false,
                    accountError:false,
                    passwordError:false,
                    phoneError:false,
                    telError:false,
                    emailError:false,
                    empError:false,
                    emptelError:false,
                    isValid:false,//是否啟用儲存按鈕
                    edit:false, //啟用編輯
                };
            },
            mounted() {
                this.loadPersonId();  // 确保调用正确的 method
            },
            methods: {
                loadPersonId() {
                        // 获取当前 URL 的路径部分
                        const path = window.location.pathname;

                        // 假设 URL 路径的格式是 /Person/Details/{id}
                        const pathSegments = path.split('/'); // 将路径分割为数组

                        // 获取路径的最后一部分作为 ID
                        const personId = pathSegments[pathSegments.length - 1];
                    if (personId) {
                        axios.get(`/Person/GetPersonById/${personId}`)
                            .then(response => {
                                console.log(response.data);  // 查看 API 返回的资料
                                this.person = response.data //? [response.data] : [];  直接将返回的对象赋值给 `person`
                            })
                            .catch(error => {
                                console.error('资料加载错误', error);
                                this.person = [];  // 如果出錯，清空資料
                            });
                    } else {
                        console.error('未提供有效的 ID');
                    }
                },
                goToIndex() {
                    window.location.href = "/Person/index";  // 返回到员工与会员列表页面，或者修改为你的页面路径
                },
                
                toggleEditting() {
                    if(this.edit){
                        //取消編輯就回復資料
                        this.person = JSON.parse(JSON.stringify(this.personBackup));
                    }else{
                        //進入編輯，備份原始資料
                        this.personBackup=JSON.parse(JSON.stringify(this.person));
                    }
                    this.edit=!this.edit;
                },
                savePerson() {
                    if (this.person.fId) {
                        console.log(this.person);  // 打印数据，确认数据是否正确
                        const personData =JSON.parse(JSON.stringify(this.person))
                        axios.put(`/Person/update`, personData)
                            .then(response => {
                                // 儲存成功後處理的邏輯，例如顯示成功訊息或重新載入資料
                                alert("資料已儲存!");
                                this.toggleEditting();  // 儲存後退出編輯模式
                                this.loadPersonId();
                            })
                            .catch(error => {
                                console.error('儲存失敗', error);
                                alert("儲存資料時發生錯誤");
                            });
                    } else {
                        alert("無效的使用者ID，無法儲存資料");
                    }
                },
                validateName(){//名字不可以空白
                    this.nameError=this.person.fName.trim().length===0;
                    this.validateForm();
                },
                validateUbn(){
                    const ubnRegex = /^\d{8}$/;
                        // 如果是空白，則不顯示錯誤
                    if (this.person.fUbn.trim() === '' || ubnRegex.test(this.person.fUbn.trim())) {
                        this.ubnError = false;
                    } else {
                        // 僅限數字 8 碼
                        const ubnRegex = /^\d{8}$/;
                        this.ubnError = !ubnRegex.test(this.person.fUbn);
                    }
                    this.validateForm(); // 驗證整個表單
                },
                validateAccount(){
                //與現有帳號不得重複
                    axios.put(`/Person/update/${this.person.fAccount}`)
                        .then(response=>{
                            this.accountError=false;
                            this.validateForm //帳號有效時檢查其他欄位
                        })
                        .catch(error=>{
                            this.accountError=true;
                        })
                },
                validatePassword(){
                //英數大小寫，長度最少8碼
                    const passwordRegex=/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/;
                    this.passwordError =!passwordRegex.test(this.person.fPassword);
                    this.validateForm();
                },
                validatePhone(){
                //數字10碼
                    const phoneRegex=/^\d{10}$/;
                    this.phoneError=!phoneRegex.test(this.person.fPhone);
                    this.validateForm();
                },                
                validateEmail(){
                    //電子郵件驗證
                    const emailRegex = /^\w+([-+.]\w+)*@@\w+([-.]\w+)*\.\w+([-.]\w+)*$/;
                    this.emailError = !emailRegex.test(this.person.fEmail);
                    this.validateForm();
                },
                validateEmp(){
                //如果權限=0(員工，就需要填入資料)
                    this.empError = this.person.fPermission === 0 && this.person.fEmpTel === '';
                    this.validateForm();
                },
                validateEmpTel(){
                    //如果權限=0(員工，就需要填入資料)
                    this.empTelError = this.person.fPermission === 0 && this.person.empTel === '';
                    this.validateForm();
                },
                validateForm(){
                    //檢查所有表單錯誤
                    this.isValid=
                        !this.nameError &&
                        !this.ubnError &&
                        !this.accountError &&
                        !this.passwordError &&
                        !this.phoneError &&
                        !this.telError &&
                        !this.emailError &&
                        !this.empError &&
                        !this.empTelError;
                },
                
                formatDate(date) {
                  if (!date) return '';  // 如果没有日期数据，则返回空字符串
                  const d = new Date(date);  // 将日期字符串转换为日期对象
                  const year = d.getFullYear();  // 获取年份
                  const month = String(d.getMonth() + 1).padStart(2, '0');  // 获取月份并补零
                  const day = String(d.getDate()).padStart(2, '0');  // 获取日期并补零

                  return `${year}-${month}-${day}`;  // 返回格式化后的日期字符串
                
            }},
        });

        app.mount('#app'); // 使用 Vue 3 创造并挂载应用
    </script>
}
